.title {
		margin: 2rem 0px 7rem;
		color: white;
		box-shadow: 5px 5px 25px rgb(117, 1, 1);
		text-align: center;
		
}

.buttons {
		margin: -4rem auto 4rem;

		text-align: center;
}

.btn {
		margin: 0 .5rem;
		padding: .5rem 1.5rem;

		border: none;
		border-radius: .5rem;

		font-size: 1rem;
		color: white;

		transition: all 300ms;

		cursor: pointer;
}

.btn-add {
		background: rgba(0, 0, 169, 0.646);
		box-shadow: 5px 5px 25px rgb(117, 1, 1);
}

.btn-add:hover {
		background:rgba(0, 0, 169, 0.646);
}

.btn-delete {
		background: rgb(156, 0, 0);
		box-shadow: 5px 5px 25px rgba(3, 1, 117, 0.79);
}

.btn-delete:hover {
		background: rgba(255, 0, 0, 0.578);
	}
